@font-face {
    font-family: "Permanent Marker";
    src: url("./permanent-marker.woff2");
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 970px;
    margin: 0 auto;
}

.link {
    @apply text-blue-500;
}

.link:hover {
    border-bottom: 1.5px solid;
    @apply border-blue-500;
}
